@using EMS.Web.Server.Collector.Models
<div class="help-block"></div>
<div class="jumbotron text-center">
    <h1>Status:<span class="text-success">Active</span></h1>
</div>

<div class="row">
    @foreach (var counter in CollectorStatistics.Counters)
    {
        <div class="col-lg-12">
            <h3 class="text-center">
                @counter.Key
            </h3> 
            <span class="text-center text-success col-lg-12 bold big">@counter.Value</span>
        </div>
    }
</div>